.header{

    display: flex;
    background-color: rgba(14, 68, 243, 0.335);
    padding: 1%;
    justify-content: space-between; 
    margin-bottom: 15px; 
}
.header img {
    display: block;
    height: 90px;
   
  }

.wrapper{
    display: flex;
    background-color: rgba(173, 170, 170, 0.301);
    align-items: center;
    flex-direction: column;
    

}
.container{
   
    display: flex;
   
    justify-items: center;
    flex-flow: row wrap;
    max-width: 960px; 


}
.goals{
    display: flex;
    width: 300px;
    flex: 0 1 auto;
    margin-right: 15px;
    margin-bottom: 15px; 
    /* flex-flow: row wrap; */
    flex-flow: row wrap;
    
}
.goals img{
    width: 300px;
   
    /* justify-content: space-around; */
    /* width:inherit; */
    border: solid rgb(122, 11, 11);
    border-radius: 4px;
   
}
.goals p{
    padding: 30px;
    max-width:200px;
    border: solid rgb(20, 17, 17);
    /* justify-content:space-between; */
    /* align-self: center; */
   

}
.work_history{
    
    border: solid;
    background-color:  #ddddbf;
    max-width: 640px;
    
}

@media screen and (max-width: 1000px){
    

    .container{
        justify-content:center;
    }
    .goals {
       
        flex-grow:5;
        flex-shrink:0;
        justify-content: center;
    }
   
    .work_history{
        justify-content:center;
    }
    .goals p{
        
        flex-flow: row wrap;
        max-height: fit-content;
        display: flex;
        padding: 10px;
        margin: 10px;
    }
}
