
/* Header se */
.header{

    display: flex;
    background-color:#1E4F94;
    padding: 1%;
    justify-content: space-between; 
    margin-bottom: 15px; 
    color: ivory;
}
.header img {
    display: block;
    height: 90px;
   
  }

.wrapper{
    display: flex;
    background-color:#8b8f956b;
    align-items: center;
    flex-direction: column;
    

}
.container{
   
    display: flex;
   
    justify-items: center;
    flex-flow: row wrap;
    max-width: 960px; 


}
h1, h2, h3, p{
    font-family: 'Philosopher', sans-serif;
}
.goals{
    display: flex;
    width: 300px;
    flex: 0 1 auto;
    margin-right: 15px;
    margin-bottom: 15px; 
    /* flex-flow: row wrap; */
    flex-flow: row wrap;
    
}
.goals img{

    width: 300px;
    border: solid rgb(122, 11, 11);
    border-radius: 4px;
   
}
.goals p{
    padding: 30px;
    max-width:200px;
    border: solid rgb(20, 17, 17);
    background-color: whitesmoke;
    align-self: center;
    border-radius: 4px;

}
.work_history{
    
    border: 1px dashed;
    background-color:whitesmoke;
    max-width: 640px;
    color:#3D44A8;
    
}

@media screen and (max-width: 1000px){
    

    .container{
        justify-content:center;
    }
    .goals {
       
        flex-grow:5;
        flex-shrink:0;
        justify-content: center;
    }
   
    .work_history{
        justify-content:center;
    }
    .goals p{
        
        flex-flow: row wrap;
        max-height: fit-content;
        display: flex;
        padding: 10px;
        margin: 10px;
    }
}
